<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <input
      class="form-check-input me-1"
      type="checkbox"
      id="todo"
      [checked]="todo().completed"
    />
    <label class="form-check-label" for="todo">{{ todo().name }}</label>
  </div>
  
  <div>
    <button
      (click)="removeTodoItem(todo().id)"
      type="button"
      class="btn btn-primary w-5 me-2"
      [routerLink]="todo().id"
    >
      see details
    </button>
    <button
      (click)="removeTodoItem(todo().id)"
      type="button"
      class="btn btn-danger w-5"
    >
      Delete
    </button>
  </div>
</div>
